aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.15.0
boto3
botocore
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
colorama==0.4.5
crcmod==1.7
cryptography==37.0.4
deprecation==2.1.0
dnspython==2.2.1
huaweicloud-sdk-python==1.0.28
cos-python-sdk-v5
huaweicloud-sdk-python-obs
idna==3.3
iso8601==1.0.2
jmespath==0.10.0
keystoneauth1==3.4.0
loguru==0.6.0
numpy
oss2==2.15.0
packaging==21.3
pandas
pbr==5.9.0
prettytable
pycparser==2.21
pycryptodome
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
qcloud-cos-python3
requests
s3transfer
six==1.16.0
stevedore
urllib3
wcwidth
